*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-image: linear-gradient(90deg, #DA4453, #89216B);
   /*  */

}


.levels-wrapper{ 
    padding-top: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#single{
    border: none;
    /* background-color: rgba(255, 255, 255, 0.13); */
    color: rgb(255, 183, 0);
    margin: 10px;
    width: 15rem;
    height: 12rem;
    padding: 2px;
    outline: 2px dashed white;
    outline-offset: 3px;
    border-radius: 2rem;
    box-shadow: rgb(110, 110, 110) 2px 2px 10px;
    transition: all 1.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../imgs/gamer.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
#multi{
    border: none;
    /* background-color: rgba(255, 255, 255, 0.13); */
    color: rgb(255, 183, 0);
    margin: 10px;
    width: 15rem;
    height: 12rem;
    padding: 2px;
    outline: 2px dashed white;
    outline-offset: 3px;
    border-radius: 2rem;
    box-shadow: rgb(110, 110, 110) 2px 2px 10px;
    transition: all 1.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../imgs/battle.png") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#single:hover, #multi:hover{
    transform: scale(1.5);
    cursor: pointer;
    z-index: 1;
    
}

#single:active{
    transform: rotate(-10deg);
}

#multi:active{
    transform: rotate(10deg);
}

#menu-wrapper{
    direction: rtl;
    padding: 1rem;
    height: min-content;

}

#menu{
    width: 3rem;
    transition: all 1.5s;

}

#menu:hover{
    transform: rotate(20deg);
    cursor: pointer;
}

a{
   color: rgb(255, 183, 0);
   text-decoration: none;
}


#side-menu{
    position: absolute;
}


#side-menu{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.336);
    z-index: -1;
    transition: all 1.5s;
}

.none-side {
    display: block;
    animation-name: closing;
    animation-duration: 2s; 
    transition: all 1.5s;
}



@keyframes slidingmenu{
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 20rem;
        height: 30rem;
    }
}

@keyframes closing{
    0%{
        width: 20rem;
        height: 30rem;

    }
    100%{
        width: 0;
        height: 0;
    }
}
