*{
    padding:0;
    margin:0;
}


body{
    background-image: url("..\\imgs\\cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.6);
}

h3{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.7rem;
}

.box{
    margin: auto;
    width: 95vw;
    height: 100vh;
    text-align: center;
}

.gameframe{
    background-color: rgb(56, 3, 99);
    box-shadow: black 1px 1px 5px;
    padding: 0.6rem;
    border-radius: 15px;
    margin: 10px auto;
    width: 450px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.circle, .empty{
    border: 2px solid lightgrey;
    background-color: lightgrey;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.empty:hover{
    cursor: pointer;
    background-color: rgb(185, 178, 178);
}

.playerOne{
    border: 2px solid rgb(56, 34, 0);
    background-color: #F4AC45;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.playerTwo{
    border: 2px solid rgb(92, 0, 0);
    background-color: #ca0000;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.win{
    border: 2px solid rgb(37, 85, 15);
    background-color: #45f445;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.draw-msg, .win-msg, .start-msg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49,0.938);
}

.draw-msg, .win-msg, .disappear{
    display: none;
}

.draw-msg.show, .win-msg.show{
    display: flex;
}

.button{
    cursor: pointer;
    margin-right: 15px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 150%;
    background-color:darkred;
    color: white;
    width: 10rem;
    height: 3rem;
}

.button:hover{
    background-color: darkgoldenrod;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
