*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: url("..\\imgs\\cool-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100rem;
    /* background-image: linear-gradient(90deg, #ad5389, #3c1053); */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box{
    margin: auto;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.gameframe{
    background-color: rgb(56, 3, 99);
    border-radius: 15px;
    margin: auto;
    width: 450px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: black 1px 1px 5px;
    padding: 0.6rem;
}

.circle{
    border: 2px solid lightgrey;
    background-color: lightgrey;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.mainCircle:hover{
    background-color: rgb(185, 178, 178);
    cursor: pointer;
}

.button{
    margin: 2rem 0.5rem;
    padding: 0.5rem;
    padding-inline: 2rem;
    border: none;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(51, 3, 53);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 1s;
}

.button:hover{
    background-color: darkorange;
    color: white;
}

.button:active{
    transform: scale(0.8);
}

.circle-red{
    background-color: darkred;
}

.circle-yellow{
    background-color: darkorange;
}

h1{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.6);
}

h3{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.7rem;
}

#turn {
    font-size: 1.3rem;
    color: rgb(105, 2, 2);
    font-weight: bold;
}

.draw-msg, .win-msg, .start-msg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49,0.938);
}

.draw-msg, .win-msg, .disappear{
    display: none;
}

.draw-msg.show, .win-msg.show{
    display: flex;
}

.button{
    cursor: pointer;
    margin: 10px auto;
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color:darkred;
    color: white;
     width: 6rem;

}

.button:hover{
    background-color: darkgoldenrod;
}