*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("..\\imgs\\bkg2.jpg");
    background-repeat: repeat;   
    background-size: cover;
}

#main{
    background-color: rgb(27, 27, 27);
    box-shadow: black 1px 1px 5px;
    margin: 6rem auto;
    width: 25rem;
    height: auto;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 1.5rem;
}


label{
    color: rgb(255, 183, 0);
    font-size: 1.5rem;
    margin-top: 10px;
    /* margin-right: 20%;
    margin-left: 0%; */
    font-size: 25px;
    border-radius: 15px;
} 

input, select{
    width: 10rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

#login{
    margin: 2rem auto;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: darkorange;
    /* font-weight: bold; */
    font-size: 1.3rem;
    transition: all 1.5s;
    padding-block: 0.3rem;
}

#login:hover{
    color: white;
    background-color: darkred;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.2);
}
